@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background: #fff !important;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary_red_color: #ea1b15;
  --table_header_color: #e8e8e8;
  --grey_banner_color: #fafafa;
  --secondary_color: #09f69a;

  --text_color: #000000;
  --light_green: #3eb64b;
  --dark_green: #106b3b;
  --secondary_text_color: #37003c;
}

.container-cont {
  padding: 2rem 0;
}

/* NAVAR  */
nav {
  background: #fff !important;
}
.navbar {
  width: 100%;
  position: fixed;
  background-color: #fff !important;
  background: #fff !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.container-content {
  background-color: #fff;
}

.navNavbar {
  padding: 1rem 0;
  align-items: center !important;
  width: 100%;
}

.navar-logo {
  margin-right: 5rem;
}

.nav-link {
  padding: 0 0.65rem;
  font-size: 1rem;
  text-transform: capitalize;
  line-height: 1.5;
}

.nav-link:hover {
  color: var(--primary_red_color);
}

.nav-loginbtn {
  text-decoration: none;
  padding: 0.35rem 1.5rem;
  text-align: center;
  color: #fff;
  background: var(--dark_green) !important;
}

/* HOME CONTENT  */
/* MAIN  */
/* ASIDE TABLE CONTENT  */
.right-aside {
  padding: 2rem 0;
}
.league-table {
  margin: 1rem 0;
  padding: 2rem 1rem 1rem 1rem;
  border: 1px solid #eee;
}

.table-head h3 {
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}

.table-load-more {
  text-align: center;
  justify-content: center;
  margin: 0.65rem 0;
  padding: 0.5rem;
  border: 1px solid var(--table_header_color);
}

.table-footer-link {
  text-decoration: none;
  font-weight: 350;
  font-size: 1rem;
  color: var(--secondary_text_color);
}

.table-footer-icons {
  margin-right: 0.65rem;
}

.fx {
  margin-left: 0.65rem;
}

.table-footer-link:hover {
  color: var(--primary_red_color);
  background: none !important;
}

/* TABLE SECTION  */
/* MAIN  */

/* STANDING SECTION  */
.standing-contents {
  padding: 4.5rem 0 0 0;
}

.aside-navList-item {
  border-right: 2px solid var(--secondary_text_color);
  padding: 0 0.5rem;
  height: 100vh;
}

.tab-league-name {
  text-transform: uppercase;
  margin: 2rem 0 1rem 0;
  color: var(--dark_green);
  font-weight: 500;
}

.nav-link-menu-items {
  align-items: left !important;
  padding: 0.65rem 0 0.65rem 0.85rem;
  text-align: left !important;
  font-size: 1rem;
  font-weight: 350;
  color: var(--text_color) !important;
}

.tab-content-datas {
  padding: 2rem 0;
}
